<main class="main">
  <div
    class="currency"
    title="Изменить валюту"
    id="change-currency"
    (click)="changeCurrency()"
  >
    {{ currency }}
  </div>
  <header class="header">
    <div class="container">
      <div class="logo"><img src="./assets/images/logo.png" alt="Logo" /></div>
      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a (click)="scrollTo(products)">Каталог</a>
          </li>
          <li class="menu-item">
            <a (click)="scrollTo(love_backery)">О нас</a>
          </li>
          <li class="menu-item">
            <a (click)="scrollTo(form_order)">Оформление заказа</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="main-content">
    <div class="container">
      <img src="./assets/images/line1.png" alt="line1" class="line1" />
      <div class="main-info">
        <h1 class="main-title">Магия вкуса в каждой крошке</h1>
        <p class="main-text">
          Наши рецепты вдыхают жизнь в изысканность ингредиентов: ароматное
          натуральное масло, свежие сливки, чистый мёд и отборная мука. Мы
          тщательно отбираем каждый компонент премиального печенья, стремясь
          подарить вам истинное кулинарное наслаждение.
        </p>
        <div class="main-action">
          <button class="button" id="" (click)="scrollTo(products)">
            Заказать
          </button>
        </div>
      </div>
      <img src="./assets/images/cookie.png" alt="cookie" class="main-image" [ngStyle]="mainImageStyle"/>
    </div>
  </section>

  <section class="products" #products>
    <div class="container">
      <img src="./assets/images/line2.png" alt="line2" class="line2" />
      <h2>Выберите печенье</h2>
      <div class="sugar-free">
        <div>Все</div>
        <input type="checkbox" id="switch" (change)="switchSugarFree($event)" />
        <label for="switch"></label>
        <div>Без сахара</div>
      </div>
      <div class="products-items">
        <div class="products-item" *ngFor="let product of productsData">
          <div class="image-wrapper">
            <img src="{{ product.image }}" alt="product1" />
          </div>
          <div class="products-item-details">
            <h4>{{ product.title }}</h4>
            <p>{{ product.text }}</p>
            <div class="products-item-extra">
              <div class="products-item-info">
                <div class="products-item-price">
                  {{ product.price }} {{ currency }}
                </div>
                <div class="products-item-weight">{{ product.weight }}</div>
              </div>
              <button
                class="button violet"
                (click)="scrollTo(form_order, product)"
              >
                Заказать
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="love-backery" #love_backery>
    <div class="container">
      <h2>Пекарня с любовью</h2>
      <div class="love-items">
        <div class="love-item info">
          <h3>Приготовлено с заботой, чтобы радовать вас каждый день</h3>
          <p>
            Мы с гордостью представляем наше печенье, которое мы выпекаем
            вручную каждый день с 1995 года, используя только лучшие
            ингредиенты. Погрузитесь в мир изысканных лакомств, приготовленных
            с применением передовых технологий, и насладитесь их неповторимым
            вкусом.
          </p>
        </div>
        <div class="love-item image">
          <img src="./assets/images/love.png" alt="Love-backery" />
        </div>
      </div>
    </div>
  </section>

  <section class="form_order" #form_order>
    <img src="./assets/images/line3.png" alt="line3" class="line3" />
    <div class="container">
      <h2>Закажите печенье</h2>
      <img
        src="./assets/images/breadcrumbs.png"
        alt="breadcrumbs"
        class="background-breadcrumbs"
      />
      <form class="order-block">
        <div class="order-form">
          <p>
            Откройте для себя волшебство вкуса с нашим премиальным печеньем!
            Закажите прямо сейчас и окунитесь в мир сладких наслаждений.
          </p>
          <div class="order-form-inputs" [formGroup]="form">
            <input
              type="text"
              placeholder="Выберите печенье"
              id="product"
              formControlName="product"
              [class]="{
                error:
                  form.get('product')?.invalid &&
                  (form.get('product')?.dirty || form.get('product')?.touched)
              }"
              readonly
            />
            <!--readonly - запрет на ручное редактирование поля, туда будет добавляться выбранное печенье с его ценой-->
            <input
              type="text"
              placeholder="Ваше имя"
              id="name"
              formControlName="name"
              [class]="{
                error:
                  form.get('name')?.invalid &&
                  (form.get('name')?.dirty || form.get('name')?.touched)
              }"
            />
            <input
              type="text"
              placeholder="Ваш телефон"
              id="phone"
              formControlName="phone"
              [class]="{
                error:
                  form.get('phone')?.invalid &&
                  (form.get('phone')?.dirty || form.get('phone')?.touched)
              }"
            />
            <button
              type="button"
              class="button violet"
              id="order-action"
              (click)="confirmOrder()"
              [disabled]="!form.valid"
            >
              Оформить заказ
            </button>
            <!-- type="button" прописан для кнопки, чтобы избежать перевода пользователя к 
                       началу сайта и дать возможность активировать JS-код -->
          </div>
        </div>
        <div class="order-image">
          <img src="./assets/images/order.png" alt="Cookies" [ngStyle]="orderImageStyle"/>
        </div>
      </form>
    </div>
  </section>

  <footer>
    <div class="logo"><img src="./assets/images/logo.png" alt="Logo" /></div>
    <p>«Все права защищены»</p>
  </footer>
</main>

<div class="loader" [class]="{'showed': loaderShowed}" *ngIf="loader">
    <lottie-player src="./assets/cookie.json" background="transparent" speed="1.5" autoplay></lottie-player>
</div>
